@import '../../globals/style.css';
@import '../../globals/_variables.scss';

[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
    opacity: 0.3;
  }
  
  [contenteditable=true]:focus {
    outline: 0px solid transparent;
  }
  
* {
    font-family: 'Open Sans', sans-serif;
}

.row {
  display: grid;
  grid-template-columns: 95% 5%;
}

.menu { 
  margin: auto
}

.context-menu {
  width: 300px;
  height: 35px;
  padding: 10px;
  display: none;
  position: absolute;
  top: 16px;
  left: 10px;
  z-index: 100;
}

.context-menu input {
  width: 170px;
  float: left;
  padding: 5px;
}

.context-menu button {
  width: 50px;
  float: left;
  text-align: center;
  padding: 5px;
}

.node-content-container {
  padding: 0px 0px 0px 0px;
}

.paragraph {
  padding: 5px 0px;
}

.paragraph a {
  font-weight: bolder;
  text-decoration: underline;
  color: #4299E1;
}

.title-1 {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 16px 0px 16px 0px;
}

.title-2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 0px 12px 0px;
}

.title-3 {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 8px 0px 8px 0px;
}

.title-4 {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 0px 6px 0px;
}

.title-5, 
.title-6, 
.title-7, 
.title-7, 
.title-8, 
.title-9, 
.title-10 {
  font-size: 1rem;
  text-decoration: underline;
  padding: 8px 0px 6px 0px;
}