@import "@material/fab/mdc-fab";
@import "@material/typography/mdc-typography";
@import "../../globals/variables.scss";
@import "@material/icon-button/mdc-icon-button";
@import "@material/textfield/mdc-text-field";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/layout-grid/mdc-layout-grid";

header{
    display:grid;
    grid-template-columns: 56px 1fr ;
    grid-template-rows: 45px;
}

.app-fab--absolute {
    position: fixed;
    bottom: 17px;
    margin: auto 43%;
    background: #ee001f
  }
  .mdc-tab-bar {
    width: 100%;
    margin-bottom: 28px;
}
.mdc-tab-scroller__scroll-content{
    border-bottom: 1px solid #ccc;
}
  
  @media(min-width: 1024px) {
     .app-fab--absolute {
      bottom: 1.5rem;
      right: 1.5rem;
      margin: auto 50%;
    }
  }
  .mdc-card{
    border:0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px;
    margin-left: 13px;
    margin-right: 13px
}
.demo-card__title{
    font-size: 16px;
    line-height: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}
.date{
    font-size:12px;
    color: #ee001f;
    line-height: 15px;
    text-transform: uppercase;
}
.demo-card__secondary{
    color:#0009;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}
.demo-card__primary{
    margin-bottom: 4px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0,0,0,0.17);

    margin-left: 14px;
}
.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-top: 13px;
}
.mdc-card__media {
    width: 40px;
    height: 40px;
}

.mdc-card__primary-action{
    display: grid;
    grid-template-columns: 40px 1fr;
}
