@import '../../globals/style.css';

.form {
    display: grid;
    //grid-template-rows: 1fr 4fr 1fr;
    //grid-gap: 10px
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

content { 
    display: grid;
    // grid-template-columns: 1fr 5fr;
    //grid-gap: 4px;
}

p {
    margin-bottom: 8px;
}

.otherPerspectives { 
    display: grid;
    //grid-template-columns: 50% 50%;
    grid-gap: 2px;
    
}

.otherPerspectives:nth-of-type(even) {
    background-color: #e2e8f0
    }


