@import '../../globals/style.css';
@import '../../globals/variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.workpad {
    display: grid;
    grid-template-rows: 1fr 90% 1fr;
}

button:focus{
    outline: none;
}

header {
    display: grid;
    grid-template-columns: 95% 5%
}

header div:first-child {
    margin: auto
}

header div:nth-child(2n) {
    margin: auto;
}

co-menu {
    margin:auto
}

.pending-tasks-indicator {
    position: absolute;
    right: 40px;
    margin-top: 14px;
    --spinner-size: 20px;
    --spinner-color: white;
}