@import '../../globals/style.css';
@import '../../globals/variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.workpad {
    display: grid;
    grid-template-rows: 1fr 90% 1fr
}

button:focus{
    outline: none;
}
