@import "@material/fab/mdc-fab";
@import "@material/elevation/mdc-elevation";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/typography/mdc-typography";
@import "../../globals/variables.scss";


.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: $mdc-theme-primary;
  z-index: 10;
}

.my-menu { 
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.mdc-icon-button {
  width: auto;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
  .mdc-icon-button::before, .mdc-icon-button::after{
  border-radius: 3px;
  background: transparent;
  display: flex;
  justify-content: flex-end;

  margin: auto;
}

@media(min-width: 1024px) { 
  .app-fab--absolute {
      bottom: 1.5rem;
      right: 1.5rem;
  }
}

.editorToolbar { 
  z-index: 10;
}

.block {
    display: grid;
    grid-template-columns: 40px 6fr 40px
}

.ghost {
    color:white
}

.ghost:hover {
    color: black 
}


.main-content {
  overflow: auto;
  height: 100%;
}
.mdc-list{
  text-align: center;
  min-width: 213px;
}
.mdc-top-app-bar {
  z-index: 7;
}

.mdc-typography--headline6{
  font-size: 14px;
  line-height: 20px;
}

.mdc-typography--subtitle2{
  font-size: 12px;
  line-height: 10px;
}

.demo-card__primary{
  padding-left: 16px;
  padding-right: 16px;
}
.mdc-card{
  margin:20px 10px;
}

.mdc-typography--headline1{
  margin-bottom: 20px;
  line-height: 3rem;
}

.mdc-list-item{
  padding-left: 11px;
  padding-right: 11px;
 height: 32px;
 margin-bottom: 2px;
}

.mdc-typography--headline2{
  line-height: 2.75rem;
}


