@import '../../globals/style.css';
@import '../../globals//variables';

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.title {
    padding-top: 100px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
